.dashboard-container {
  width: 100%;
  max-width: 69.375rem;
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

@media (min-width: 900px) {
  .dashboard-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }

  .profile-card {
    grid-row: span 2;
  }
}